body {
  margin: 0;
  font-family: 'MontHeavy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MontHeavy";
  src: url(./fonts/Mont-Heavy.woff2);
}

@font-face {
  font-family: "MontLight";
  src: url(./fonts/Mont-Light.woff2);
}

@font-face {
  font-family: "MontBold";
  src: url(./fonts/Mont-Bold.woff2);
}
